<label class="form-label">Airport:
    <select name="airport" class="form-select">
        <option value="AUS">AUS</option>
        <option value="DEN">DEN</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN" selected>SAN</option>
    </select>
</label><br>